{%- capture block_class -%}
  site-footer-block-item
  site-footer-block-{{ block.type | replace: '_', '-' }}
  {% if block.type == 'menu' %}has-accordion{% endif %}
{%- endcapture -%}

<div class="{{ block_class | strip_newlines }}" {{ block.shopify_attributes }}>

  {% if block.type == 'menu' %}
      <h2 class="site-footer-block-title" data-accordion-trigger>
        {{ linklists[block.settings.menu].title | escape }}

        <span class="site-footer-block-icon accordion--icon">
          {% include 'icon-chevron-down' %}
        </span>
      </h2>

      <div class="site-footer-block-content accordion--content" data-accordion-content>
        {%
          include 'navmenu',
          menu: block.settings.menu,
          depth: 1,
          max_depth: 1,
          aria_expanded: false
        %}
      </div>
  {% elsif block.type == 'rich_text' or block.type == 'newsletter' %}
    {% if block.settings.title != blank %}
      <h2 class="site-footer-block-title">
        {{ block.settings.title | escape }}
      </h2>
  	{% else %}
  		<a href="https://www.bbb.org/us/in/elkhart/profile/custom-golf-carts/golfcartstuff-com-0352-90120439/#sealclick" id="bbblink" class="ruvtbul bbb_logo" target="_blank" rel="nofollow">
        	<img src="https://seal-fortwayne.bbb.org/logo/ruvtbul/bbb-90120439.png" style="border: 0;" alt="golfcartstuff.com BBB Business Review" />
        </a>
  		<div style="text-align:center;margin:5px 0px;">
  		<a href="https://www.shopperapproved.com/reviews/golfcartstuff.com/" class="shopperlink"><img src="//www.shopperapproved.com/newseals/31118/white-mini-icon.gif" style="border: 0" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;" /></a><script type="text/javascript">(function() { var js = window.document.createElement("script"); js.src = '//www.shopperapproved.com/seals/certificate.js'; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); })();</script>
        <script type="text/javascript"> function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } saLoadScript('//www.shopperapproved.com/widgets/group2.0/31118.js'); </script>
  		</div>
    {% endif %}

    {% if block.settings.text != blank %}
      <div class="site-footer-block-content rte">
        {{ block.settings.text }}
      </div>
    {% endif %}

    {% if block.type == 'newsletter' %}
      {% include 'newsletter' %}
    {% endif %}
  {% elsif block.type == 'social_accounts' %}
    <h2 class="site-footer-block-title">
      {{ 'footer.general.follow_us' | t }}
    </h2>

    <div class="site-footer-block-content">
      {% include 'social-list' %}
    </div>
  {% endif %}

</div>
